.fa{
    margin-left: 5px;
    margin-right: 5px;
}
.btn-group {
    padding: 10px;
}

.btn-group button {
    background-color: #f0f0f0; /* Green background */
    border: 1px solid #d6d6d6; /* Green border */
    color: #000000; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #dfdfdf;
}


/*Excel button*/
.btn-excel {
    background-color: #f0f0f0; /* Green background */
    border: 1px solid #d6d6d6; /* Green border */
    color: #000000; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */

}


/* CSS Code: Place this code in the document's head (between the 'head' tags)*/

 table.GeneratedTable {
     width: 100%;
     background-color: #ffffff;
     border-collapse: collapse;
     border-width: 1px;
     border-color: #d6d6d6;
     border-style: solid;
     color: #000000;
 }

table.GeneratedTable td, table.GeneratedTable th {
    border-width: 1px;
    border-color: #d6d6d6;
    border-style: solid;
    padding: 3px;
}

table.GeneratedTable tr:hover  {
    background-color: #fffcb1;
}


table.GeneratedTable thead {
    background-color: #f0f0f0;
}


/*Input for date*/

.enjoy-input{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px;
    border: 1px solid rgba(183,183,183,0.66);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    float: left;

}



/*For adding form*/

.form_container {
    text-align: left;
    width: 850px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    margin: 0px auto;
}
.form_description
{
    border-bottom:1px dotted #ccc;
    clear:both;
    display:inline-block;
    margin:1em 1em;
}
/**** Form Section ****/
form.appnitro
{
    margin:20px 20px 0;
    padding:0 0 20px;
}
.appnitro
{
    font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
    font-size:small;
}
form.appnitro.filter input,form.appnitro.filter select{
    width:280px;
    height:34px;
    font-size:1em;
    font-family:Lucida Grande, Tahoma, Arial, Verdana, sans-serif;
}


/*.appnitro li
{
    x-width:90%;
}*/

form ul
{
    font-size:100%;
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%;
}

form li
{
    display:block;
    margin:0;
    padding:4px 5px 2px 9px;
    position:relative;
}

form li:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.buttons:after
{
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}

.buttons
{
    clear:both;
    display:block;
    margin-top:10px;
}

* html form li
{
    height:1%;
}

* html .buttons
{
    height:1%;
}

* html form li div
{
    display:inline-block;
}

form li div
{
    color:#444;
    margin:0 4px 0 0;
    padding:0 0 8px;
}

form li span
{
    color:#444;
    /*float:left;*/
   /* margin:0 4px 0 0;*/
   /* padding:0 0 8px;*/
}

form li div.left
{
    display:inline;
    float:left;
    width:48%;
}

form li div.right
{
    display:inline;
    float:right;
    width:48%;
}

form li div.left .medium
{
    width:100%;
}

form li div.right .medium
{
    width:100%;
}

.clear
{
    clear:both;
}

form li div label
{
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
}

form li span label
{
    clear:both;
    color:#444;
    display:block;
    font-size:9px;
    line-height:9px;
    margin:0;
    padding-top:3px;
}

form li .datepicker
{
    cursor:pointer !important;
    float:left;
    height:16px;
    margin:.1em 5px 0 0;
    padding:0;
    width:16px;
}

.form_description
{
    border-bottom:1px dotted #ccc;
    clear:both;
    display:inline-block;
    margin:1em 1em;
}

.form_description[class]
{
    display:block;
}

.form_description h2
{
    clear:left;
    font-size:160%;
    font-weight:400;
    margin:0 0 3px;
}

.form_description p
{
    font-size:95%;
    line-height:130%;
    margin:0 0 12px;
}

form hr
{
    display:none;
}

form li.section_break
{
    border-top:1px dotted #ccc;
    margin-top:9px;
    padding-bottom:0;
    padding-left:9px;
    padding-top:13px;
    width:97% !important;
}

form ul li.first
{
    border-top:none !important;
    margin-top:0 !important;
    padding-top:0 !important;
}

form .section_break h3
{
    font-size:110%;
    font-weight:400;
    line-height:130%;
    margin:0 0 2px;
}

form .section_break p
{
    font-size:85%;

    margin:0 0 10px;
}

/**** Buttons ****/
input.button_text
{
    overflow:visible;
    padding:0 7px;
    width:auto;
}

.buttons input
{
    font-size:120%;
    margin-right:5px;
}

/**** Inputs and Labels ****/
label.description
{
    border:none;
    color:#222;
    display:block;
    font-size:95%;
    font-weight:700;
    line-height:150%;
    padding:0 0 1px;
}
td.description
{
    border:none;
    color:#222;
    display:block;
    font-size:95%;
    font-weight:700;
    line-height:150%;
    padding:0 0 1px;
}

span.symbol
{
    font-size:115%;
    line-height:130%;
}

input.text
{
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    color:#333;
    font-size:100%;
    margin:0;
    padding:2px 0;
}

input.file
{
    color:#333;
    font-size:100%;
    margin:0;
    padding:2px 0;
}

textarea.textarea
{
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
    color:#333;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    margin:0;
    width:99%;
}

select.select
{
    color:#333;
    font-size:100%;
    margin:1px 0;
    padding:1px 0 0;
    border-bottom:1px solid #ddd;
    border-left:1px solid #c3c3c3;
    border-right:1px solid #c3c3c3;
    border-top:1px solid #7c7c7c;
}


input.currency
{
    text-align:right;
}

input.checkbox
{
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
}

input.radio
{
    display:block;
    height:13px;
    line-height:1.4em;
    margin:6px 0 0 3px;
    width:13px;
}

label.choice
{
    color:#444;
    display:block;
    font-size:100%;
    line-height:1.4em;
    margin:-1.55em 0 0 25px;
    padding:4px 0 5px;
    width:90%;
}

select.select[class]
{
    margin:0;
    padding:1px 0;
}

*:first-child+html select.select[class]
{
    margin:1px 0;
}

.safari select.select
{
    font-size:120% !important;
    margin-bottom:1px;
}

input.small
{
    width:25%;
}

select.small
{
    width:25%;
}

input.medium
{
    width:50%;
}

select.medium
{
    width:50%;
}

input.large
{
    width:100%;
}

select.large
{
    width:100%;
}

textarea.small
{
    height:5.5em;
}

textarea.medium
{
    height:10em;
}

textarea.large
{
    height:10em;
}

/**** Errors ****/
#error_message
{
    background:#fff;
    border:1px dotted red;
    margin-bottom:1em;
    padding-left:0;
    padding-right:0;
    padding-top:4px;
    text-align:center;
    width:99%;
}

#error_message_title
{
    color:#DF0000;
    font-size:125%;
    margin:7px 0 5px;
    padding:0;
}

#error_message_desc
{
    color:#000;
    font-size:100%;
    margin:0 0 .8em;
}

#error_message_desc strong
{
    background-color:#FFDFDF;
    color:red;
    padding:2px 3px;
}

form li.error
{
    background-color:#FFDFDF !important;
    border-bottom:1px solid #EACBCC;
    border-right:1px solid #EACBCC;
    margin:3px 0;
}

form li.error label
{
    color:#DF0000 !important;
}

form p.error
{
    clear:both;
    color:red;
    font-size:10px;
    font-weight:700;
    margin:0 0 5px;
}

form .required
{
    color:red;
    float:none;
    font-weight:700;
}

/**** Guidelines and Error Highlight ****/
form li.highlighted
{
    background-color:#fff7c0;
}

form .guidelines
{
    background:#f5f5f5;
    border:1px solid #e6e6e6;
    color:#444;
    font-size:80%;
    left:100%;
    line-height:130%;
    margin:0 0 0 8px;
    padding:8px 10px 9px;
    position:absolute;
    top:0;
    visibility:hidden;
    width:42%;
    z-index:1000;
}

form .guidelines small
{
    font-size:105%;
}

form li.highlighted .guidelines
{
    visibility:visible;
}

form li:hover .guidelines
{
    visibility:visible;
}

.no_guidelines .guidelines
{
    display:none !important;
}

.no_guidelines form li
{
    width:97%;
}

.no_guidelines li.section
{
    padding-left:9px;
}

/*** Success Message ****/
.form_success
{
    clear: both;
    margin: 0;
    padding: 90px 0pt 100px;
    text-align: center
}

.form_success h2 {
    clear:left;
    font-size:160%;
    font-weight:normal;
    margin:0pt 0pt 3px;
}

/*** Password ****/
ul.password{
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}
.password h2{
    color:#DF0000;
    font-weight:bold;
    margin:0pt auto 10px;
}

.password input.text {
    font-size:170% !important;
    width:380px;
    text-align: center;
}
.password label{
    display:block;
    font-size:120% !important;
    padding-top:10px;
    font-weight:bold;
}

#li_captcha{
    padding-left: 5px;
}


#li_captcha span{
    float:none;
}

/** Embedded Form **/

.embed #form_container{
    border: none;
}

.embed #top, .embed #bottom, .embed h1{
    display: none;
}

.embed #form_container{
    width: 100%;
}

.embed #footer{
    text-align: left;
    padding-left: 10px;
    width: 99%;
}

.embed #footer.success{
    text-align: center;
}

.embed form.appnitro
{
    margin:0px 0px 0;

}



/*** Calendar **********************/
div.calendar { position: relative; }

.calendar table {
    cursor:pointer;
    border:1px solid #ccc;
    font-size: 11px;
    color: #000;
    background: #fff;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

.calendar .button {
    text-align: center;
    padding: 2px;
}

.calendar .nav {
    background:#f5f5f5;
}

.calendar thead .title {
    font-weight: bold;
    text-align: center;
    background: #dedede;
    color: #000;
    padding: 2px 0 3px 0;
}

.calendar thead .headrow {
    background: #f5f5f5;
    color: #444;
    font-weight:bold;
}

.calendar thead .daynames {
    background: #fff;
    color:#333;
    font-weight:bold;
}

.calendar thead .name {
    border-bottom: 1px dotted #ccc;
    padding: 2px;
    text-align: center;
    color: #000;
}

.calendar thead .weekend {
    color: #666;
}

.calendar thead .hilite {
    background-color: #444;
    color: #fff;
    padding: 1px;
}

.calendar thead .active {
    background-color: #d12f19;
    color:#fff;
    padding: 2px 0px 0px 2px;
}


.calendar tbody .day {
    width:1.8em;
    color: #222;
    text-align: right;
    padding: 2px 2px 2px 2px;
}
.calendar tbody .day.othermonth {
    font-size: 80%;
    color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
    color: #fbb;
}

.calendar table .wn {
    padding: 2px 2px 2px 2px;
    border-right: 1px solid #000;
    background: #666;
}

.calendar tbody .rowhilite td {
    background: #FFF1AF;
}

.calendar tbody .rowhilite td.wn {
    background: #FFF1AF;
}

.calendar tbody td.hilite {
    padding: 1px 1px 1px 1px;
    background:#444 !important;
    color:#fff !important;
}

.calendar tbody td.active {
    color:#fff;
    background: #529214 !important;
    padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected {
    font-weight: bold;
    border: 1px solid #888;
    padding: 1px 1px 1px 1px;
    background: #f5f5f5 !important;
    color: #222 !important;
}

.calendar tbody td.weekend {
    color: #666;
}

.calendar tbody td.today {
    font-weight: bold;
    color: #529214;
    background:#D9EFC2;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell {
    visibility: hidden;
}

.calendar tbody .emptyrow {
    display: none;
}

.calendar tfoot .footrow {
    text-align: center;
    background: #556;
    color: #fff;
}

.calendar tfoot .ttip {
    background: #222;
    color: #fff;
    font-size:10px;
    border-top: 1px solid #dedede;
    padding: 3px;
}

.calendar tfoot .hilite {
    background: #aaf;
    border: 1px solid #04f;
    color: #000;
    padding: 1px;
}

.calendar tfoot .active {
    background: #77c;
    padding: 2px 0px 0px 2px;
}

.calendar .combo {
    position: absolute;
    display: none;
    top: 0px;
    left: 0px;
    width: 4em;
    border: 1px solid #ccc;
    background: #f5f5f5;
    color: #222;
    font-size: 90%;
    z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
    text-align: center;
    padding: 1px;
}

.calendar .combo .label-IEfix {
    width: 4em;
}

.calendar .combo .hilite {
    background: #444;
    color:#fff;
}

.calendar .combo .active {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background: #dedede;
    font-weight: bold;
}



/*//button style edit show*/

.button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 0 3px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}


/*status style*/

.status {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;

    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 0 1px #999;
}


.myButton{
    background-color: #f0f0f0;
    border: 1px solid #d6d6d6;
    color: #000000;
    padding: 9.5px 24px;
    cursor: pointer;
    float: left;
    text-decoration: none;
}
input[name=addAnsw]{
	float:right;
}
.delbutton{
    padding:0;
    height: 23px;
    font-size: 1.4em;
}
.qerror{
	border: 2px solid red;
	margin-right:3px;
}
.qok{
	border: 2px solid #a5e7a5;
}
input[type=text]{
	padding-left:5px;
	margin-right:3px;
}
.info{
	display:inline;
}

/*пагинатор*/

.adm-navigation{
	padding:7px 0 1px;
}

.adm-nav-pages-block{
	float:left;
	margin-left:12px;
	height:25px;
	margin-top:10px;
	margin-bottom:20px;
	/*min-width:33%;*/
	padding-top:3px;
}

.adm-nav-pages-number-block {
	color:#363838;
	min-width:220px;
	text-align:center;
	text-shadow:0 1px #fff;
	overflow:hidden;
	padding:10px 5px 1px;
}

.adm-nav-pages-number{
	display:inline-block;
	white-space:nowrap;
}

.adm-nav-pages-number-text {
	color:#3f4b54;
	display:inline-block;
	font-size:11px;
	text-shadow:0 1px #fff;
	vertical-align:top;
	padding:9px 12px 0 0;
}

.adm-nav-pages-total-block {
	float:right;
	font-size:13px;
	color:#3f4b54;
	height:21px;
	margin-top:10px;
	margin-right:12px;
	text-shadow:0 1px #fff;
	text-align:right;
	/*min-width:33%;*/
	padding-top:7px;
}

.adm-nav-page,
.adm-nav-page-separator,
.adm-nav-page-separator:before {
	background:url("img/bx-admin-sprite-small-1.png") 0 -452px repeat-x #edf3f6;
	display:inline-block;
	border:1px solid;
	border-color:#99acb5 #99acb5 #99acb5 #99acb5;
	border-radius:2px;
	-webkit-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff;
	color:#5e5e5e;
	height:18px;
	font-size:12px;
	font-weight:bold;
	line-height:14px;
	text-shadow:0 1px #fff;
	text-decoration:none;
	text-align:center;
	margin:0 2px;
	padding:5px 3px 0;
	position:relative;
	vertical-align:top;
	min-width:18px;
}

.adm-nav-page-separator:before {
	left:-1px;
	top:-1px;
	content:"...";
	margin:0;
	position:absolute;
	padding:5px 0 0;
	width:100%;
}

.adm-nav-page-separator:hover:before {opacity:0;}

a.adm-nav-page:hover,
.adm-nav-page-separator:hover {
	background-image:none;
	background-color:#fff;
	text-decoration:none;
}

.adm-nav-page-active {
	background:#6f797f !important;
	-webkit-box-shadow:0 1px 0 #fff, inset 0 1px 4px #4e5559;
	box-shadow:0 1px 0 #fff, inset 0 1px 4px #4e5559;
	border-color:#565e63 #5d666b #5e676c #5d666b;
	color:#efefef;
	height:17px;
	margin:1px 3px 0;
	text-shadow:0 1px #60686d;
	min-width:16px;
}

.adm-nav-page-loading {
	background: url("images/waiter-nav.gif") no-repeat scroll center center #6f797f!important;
}

.adm-nav-page-loading:before{display:none;}

.adm-nav-page:active {
	background:#6f797f!important;
	-webkit-box-shadow:0 1px 0 #fff, inset 0 1px 4px #4e5559;
	box-shadow:0 1px 0 #fff, inset 0 1px 4px #4e5559;
	border-color:#565e63 #5d666b #5e676c #5d666b;
	color:#efefef;
	height:17px;
	margin:1px 3px 0;
	text-shadow:0 1px #60686d;
	min-width:18px;
	padding:5px 2px 0;
}

.adm-nav-page-prev:before,
.adm-nav-page-next:before,
.adm-nav-page-first:before,
.adm-nav-page-last:before {
	background:url("img/bx-admin-sprite-small-1.png") no-repeat center -302px;
	content:"";
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
}


.adm-nav-page-next:before {background-position:center -323px;}
.adm-nav-page-first:before {background-position:center -1390px;}
.adm-nav-page-last:before {background-position:center -1374px;}

.adm-nav-page-next:active:before,
.adm-nav-page-prev:active:before {top:-2px;}
#workarea{
	padding-bottom:20px;
}
.reset{
	text-decoration:none;
	margin-left:10px;
}
.dh_form_success{
    text-align: center;
    font-size: 18px;
    padding: 5px 15px;
    color: #fff;
    margin: 5px 0 15px;
    width: calc(100% - 30px);
    background-color: green;
}
.dh_err_msg{
    color: red;
}
.message{
    color: green;;
}
/*.dh_add_new_record{*/
    /*text-align: center;*/
    /*width: 98%;*/
    /*padding: 6px 8px 20px;*/
    /*min-width: 450px;*/
    /*position: relative;*/
    /*border: 1px solid #888;*/

/*}*/
.dh_add_new_record table{
    width: 600px;
    margin: 0 auto;
    display: block;
}

.dh_add_new_record table .vertical_heading{
    width: 300px;
}

.dh_add_new_record table input[type=text], .dh_add_new_record table textarea{
    width: 250px;
}
.dh_add_new_record table select{
    width: 200px;
}

.dh_view_records{
    padding: 1px 15px;
    background-color: #eee;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: 0 4px 12px #cecece;
    border-radius: 5px;
    border: 1px solid #fff;

}

table{
    border-collapse: collapse;
}
.view_all_records table{
    position: relative;
    margin: 0 auto;
}

.view_all_records table tr{
    border-bottom: 1px dotted #999;
}
.all_record_heading{
    background-color: #dedede;
}

.all_record_heading td{
    border-right: 1px dotted #999;
}

table td{
    padding: 4px 8px;
}

.dh_wrapper {
    width: 1150px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}


.col0{
background-color: yellow;
    color: #222;
    text-align: center;
}

.dh_wrapper{

}

.col1{
    background-color: green;
    color: #222;
}

.col2{
    background-color: #f00;
    color: #000;
}

.col4{
    background-color: #0d6e8c;
    color: #000;
}

.col5{
    background-color: #d46138;
    color: #000;
}

.col6{
    background-color: #d5cbc6;
    color: #000;
}

.col3, .test{
    background-color: blue;
    color: #fff;
}

.col0,.col1,.col2,.col3,.col4{
    padding: 2px 10px;
    border-radius: 22px;
    margin-right: 5px;
    box-shadow: 1px 1px 2px #666;
}

tr.odd{
    background-color: #f1f1f1;
}

.dh_view_records h1{
    text-align: center;
}

.dh_view_records input[type=text], .dh_view_records select{
    width: 200px;
}

.dh_view_records input[type=text], .dh_view_records select{

}
.add_button{
    color: #222;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    padding: 4px 12px;
    background-color: #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 2px #666;
}
.add_button:hover{
    background-color: #fefefe;
}
a.back_link{
    color: #222;
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px;
    background-color: #eee;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 2px #666;
}


.dh_edit_record h3, .dh_add_new_record h3{
    margin-top: 15px;
    margin-left: -10px;
}

.dbr_add_answer h3, .dh_add_new_record h3{
    margin-top: 15px;
    margin-left: -10px;
}

.dh_edit_record, .dh_add_new_record{
    width: 600px;
    margin: 0px auto;
    border: 1px dashed #ababab;
    padding: 2px 15px 10px 25px;
}

.dbr_add_answer, .dh_add_new_record{
    width: 600px;
    margin: 0px auto;
    border: 1px dashed #ababab;
    padding: 2px 15px 10px 25px;
}
  table.GeneratedTable {
     width: 50%;
     background-color: #ffffff;
     border-collapse: collapse;
     border-width: 1px;
     border-color: #000000;
     border-style: solid;
     color: #000000;
     font-size:1.1em;
     font-family: "Courier New", Courier, mono; 
 }

table.GeneratedTable td, table.GeneratedTable th {
    border-width: 1px;
    /*border-color: #d6d6d6;*/
    border-color: #000000;
    border-style: solid;
    padding: 3px;
}
table.GeneratedTable td:last-child{
    width:200px;
}

table.GeneratedTable tr:hover  {
    background-color: #fffcb1;
}

table.GeneratedTable thead {
    background-color: #f0f0f0;
}
input[type="text"]{
    height: 32px;
    width: 90px;
    font-size: 1.2em;
}